.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

.showcase {
  background-color: #81c2de;
  color: #fff;
  height: 600px;
}

.showcase {
  background-color: #81c2de;
  color: #fff;
  height: 600px;
}

/* ---------- Project Card with Hover Effect ---------- */
.view {
  width: 300px;
  height: 300px;
  margin: 10px;
  float: left;
  border: 10px solid #fff;
  overflow: hidden;
  position: relative;
  text-align: center;
  border-radius: 20px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: default;
}

.view-client {
  background-image: linear-gradient(to bottom right, #e0fbfc, rgb(155, 155, 239));
}

.view-workshop {
  background-image: linear-gradient(to bottom right, #e0fbfc, #9db4c0);
}

.view-about {
  background-image: linear-gradient(to bottom left, white, yellow, orange);
}

.view:hover {
  /*scale: 1.02;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.view .mask, .view .project-card-content {
  width: 280px;
  height: 280px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.view .cover-img {
  display: block;
  position: relative;
  width: 100%;
  transform: scaleY(1);
  transition: all 0.7s ease-in-out;
}

.view .cover-text {
  display: block;
  position: absolute;
  width: 75%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
  padding: 0rem 1rem 1rem 1rem;
  border-radius: 10px;
  transform: scaleY(1);
  transition: all 0.7s ease-in-out;
}

.view h2,
.view h3 {
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 22px;
  padding: 1rem;
  border-bottom: 1px solid #fff;
}

.view p {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 20px;
  position: relative;
  color: #fff;
  padding: 10px 20px 20px;
  text-align: center;
}

.view-project-card .cover-img,
.view-project-card .cover-text {
  transform: scaleY(1);
  transition: all 0.7s ease-in-out;
}

.view-project-card:hover .cover-img,
.view-project-card:hover .cover-text {
  transform: scale(10);
  opacity: 0;
}

.view-project-card:hover .cover-text {
  z-index: 0;
}

.view-project-card .mask {
  background-color: rgba(255, 231, 179, 0.3);
  transition: all 0.5s linear;
  opacity: 0;
}

.view-project-card:hover .mask {
  opacity: 1;
}

.view-project-card h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background: transparent;
  margin: 20px 40px 0px 40px;
  transform: scale(0);
  color: #333;
  transition: all 0.5s linear;
  opacity: 0;
}

.view-project-card p {
  color: #333;
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s linear;
  padding: 2.5rem;
}

.view-project-card button {
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s linear;
}

.view-project-card .palette-block {
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s linear;
}

.view-project-card:hover h2,
.view-project-card:hover p,
.view-project-card:hover button,
.view-project-card:hover .palette-block {
  transform: scale(1);
  opacity: 1;
}

/* ----------- Side Nav Bar ----------- */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav-index {
  background-color: #8B0000;
}

.sidenav-client {
  background-color: rgb(5, 5, 82);
}

.sidenav-workshop {
  background-color: black;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav-index a:hover {
  color: rgb(249, 182, 182);
}

.sidenav-client a:hover {
  color: rgb(178, 178, 248);
}

.sidenav-workshop a:hover {
  color: #a2a5a7;
}

.sidenav-burger {
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  margin-left: -8px;
  margin-top: 0px;
  padding: 1rem 0 1rem 0;
  transition: all 0.5s;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.social-icons-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  height: 600px;
  transition: all 0.4s ease-out;
}
.social-icons-wrapper__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.social-link--linkedin {
  color: #2d76b0;
}
.social-link--github {
  color: #000;
}
.social-link .social-svg {
  width: 4.8rem;
  height: 4.8rem;
}
.social-link .social-svg .social-group__icon {
  fill: #FFFBFA;
  transition: all 0.2s;
}
.social-link .social-svg .social-group__inner-circle {
  fill: transparent;
  transition: all 0.2s;
}
.social-link .social-svg .social-group__outline {
  stroke: #FFFBFA;
  transform-origin: 50% 50%;
  transition: all 0.2s;
}
.social-link .social-svg:hover .social-group__icon, .social-link .social-svg:active .social-group__icon, .social-link .social-svg:focus .social-group__icon {
  fill: #FFFBFA;
  transition: all 0.45s;
}
.social-link .social-svg:hover .social-group__inner-circle, .social-link .social-svg:active .social-group__inner-circle, .social-link .social-svg:focus .social-group__inner-circle {
  fill: currentColor;
  transition: all 0.45s;
}
.social-link .social-svg:hover .social-group__inner-circle--linkedin, .social-link .social-svg:active .social-group__inner-circle--linkedin, .social-link .social-svg:focus .social-group__inner-circle--linkedin {
  fill: url(#simpleLinkedin) !important;
}
.social-link .social-svg:hover .social-group__outline, .social-link .social-svg:active .social-group__outline, .social-link .social-svg:focus .social-group__outline {
  stroke: currentColor;
  transform: scale(1.1);
  transition: all 0.45s;
}

/* Desktop to tablet - Check standard sizes */
@media screen and (max-width: 915px) {
  body {
    overflow-x: hidden;
  }
  #intro-block-red {
    width: 100%;
    padding: 2rem 0 4rem 0;
  }
}
/* Desktop to mobile landscape - Check standard sizes */
@media screen and (max-width: 775px) {
  #intro-block-red,
#intro-block-blue,
#intro-block-black {
    width: 100%;
    padding: 2rem 0 4rem 0;
  }
  .about-content {
    position: static;
    display: flex;
    padding: 2rem 0 2rem 0;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
/* Mobile landscape to Mobile Portrait - Check standard sizes */
@media screen and (max-width: 400px) {
  .nav-container {
    flex-direction: column;
  }
}