// Media query collection for mobile devices

/* Desktop to tablet - Check standard sizes */
@media screen and (max-width: 915px) {

    body {
        overflow-x: hidden;
    }

    #intro-block-red {
        width: 100%;
        padding: 2rem 0 4rem 0;
    }   
}

/* Desktop to mobile landscape - Check standard sizes */
@media screen and (max-width: 775px) {

    #intro-block-blue {
        width: 100%;
        padding: 2rem 0 4rem 0;
    }

    .about-content {
        position: static;
        display: flex;
        padding: 2rem 0 2rem 0;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

}

/* Mobile landscape to Mobile Portrait - Check standard sizes */
@media screen and (max-width: 400px) {

    .nav-container {
        flex-direction: column;
    }

}