/* ---------- Project Card with Hover Effect ---------- */
.view {
    width: 300px;
    height: 300px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
    cursor: default;
}

.view-client {
    background-image: linear-gradient(to bottom right, #e0fbfc, rgb(155, 155, 239));
}

.view-workshop {
    background-image: linear-gradient(to bottom right, #e0fbfc, #9db4c0);
}

.view-about {
    background-image: linear-gradient(to bottom left, white, yellow, orange);
}

.view:hover {
    /*scale: 1.02;*/    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.view .mask, .view .project-card-content {
    width: 280px;
    height: 280px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.view .cover-img {
    display: block;
    position: relative;
    width: 100%;
    transform: scaleY(1);
	transition: all 0.7s ease-in-out;
}

.view .cover-text {
    display: block;
    position: absolute;
    width: 75%;
    z-index: 1;
    padding: 0rem 1rem 1rem 1rem;
    border-radius: 10px;
    transform: scaleY(1);
	transition: all 0.7s ease-in-out;
}

.view .cover-client {
    background-image: radial-gradient(circle, rgba(20, 20, 126), rgba(70, 70, 201, 0.9), rgba(181, 181, 249, 0.8));
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    bottom: 0;
    letter-spacing: 0.15rem;
}

.view .cover-workshop {
    background: rgba(0, 0, 0, 0.8);
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}

.view h2,
.view h3 {
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 22px;
    padding: 1rem;
    border-bottom: 1px solid #fff;
}

.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 20px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}

.view-project-card .cover-img,
.view-project-card .cover-text { 
	transform: scaleY(1);
	transition: all .7s ease-in-out;
}

.view-project-card:hover .cover-img,
.view-project-card:hover .cover-text { 
	transform: scale(10);
    opacity: 0;
}	

.view-project-card:hover .cover-text { 
    z-index: 0;
}	

.view-project-card .mask { 
    background-color: rgba(255, 231, 179, 0.3); 
    transition: all 0.5s linear;
    opacity: 0;
}	

.view-project-card:hover .mask { 
	opacity: 1;
}

.view-project-card h2{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: scale(0);
    color: #333;
    transition: all 0.5s linear;
    opacity: 0;
}
.view-project-card p {
    color: #333;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
    padding: 2.5rem;
}

.view-project-card button {
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
}

.view-project-card .palette-block {
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
}

.view-project-card:hover h2,
.view-project-card:hover p,
.view-project-card:hover button,
.view-project-card:hover .palette-block { 
    transform: scale(1);
    opacity: 1;
}

/* ----------- Side Nav Bar & Menu Items ----------- */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav-index {
    background-color: #8B0000;
}

.sidenav-client {
    background-color: rgb(5, 5, 82);
}
  
.sidenav-workshop {
    background-color: black;
}

.sidenav p {
    padding: 1rem 0 0.5rem 0;
}

.sidenav a {
    margin-left: 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    /*display: block;*/
    transition: 0.3s;
}

.sidenav-index a:hover {
    color: rgb(249, 182, 182);
}

.sidenav-client a:hover {
    color: rgb(178, 178, 248);
}

.sidenav-workshop a:hover {
    color: #a2a5a7;
}

.sidenav-burger {
    color: white;
    font-size: 30px;
    cursor: pointer;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
#main {
    margin-left: -8px;
    margin-top: 0px;
    padding: 1rem 0 1rem 0;
    transition: all .5s;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}