/* ---------- Project Card with Hover Effect ---------- */
.view {
    width: 300px;
    height: 300px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
    cursor: default;
}

.view-client {
    background-image: linear-gradient(to bottom right, #e0fbfc, rgb(155, 155, 239));
}

.view-interest {
    background-image: linear-gradient(to bottom right, #e0fbfc, grey);
}

.view-about {
    background-image: linear-gradient(to bottom left, white, yellow, orange);
}

.view:hover {
    /*scale: 1.02;*/    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.view .mask, .view .project-card-content {
    width: 280px;
    height: 280px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.view img {
    display: block;
    position: relative;
    width: 100%;
    transform: scaleY(1);
	transition: all 0.7s ease-in-out;
}
.view h2 {
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 22px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 20px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}

.view-project-card img { 
	transform: scaleY(1);
	transition: all 0.7s ease-in-out;
}

.view-project-card:hover img { 
	transform: scale(10);
    opacity: 0;
}	

.view-project-card .mask { 
    background-color: rgba(255, 231, 179, 0.3); 
    transition: all 0.5s linear;
    opacity: 0;
}	

.view-project-card:hover .mask { 
	opacity: 1;
}

.view-project-card h2{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: scale(0);
    color: #333;
    transition: all 0.5s linear;
    opacity: 0;
}
.view-project-card p {
    color: #333;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
    padding: 2.5rem;
}

.view-project-card button {
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
}

.view-project-card:hover h2,
.view-project-card:hover p,
.view-project-card:hover button { 
    transform: scale(1);
    opacity: 1;
}

