@import 'config';
@import 'card';

// Example of set-text-color function (sets text color based on background color)
.showcase {
  background-color: $primary-color;
  color: set-text-color($primary-color);
  height: 600px;
}

// Example of mixin that sets background color and also calls set-text-color function using same argument
.showcase {
  @include set-background($primary-color);
  height: 600px;
}

// Placed at bottom to appear at bottom of complied css file
@import 'utilities';
@import 'social';
@import 'mobile';