@import 'config';

// Example of set-text-color function (sets text color based on background color)
.showcase {
  background-color: $primary-color;
  color: set-text-color($primary-color);
  height: 600px;
}

// Example of mixin that sets background color and also calls set-text-color function using same argument
.showcase {
  @include set-background($primary-color);
  height: 600px;
}

.social-icons-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  height: 600px;
  transition: all .4s ease-out;
  
  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }
}

.social-link {

  cursor: pointer;

  &--linkedin {
    color: #2d76b0;
  }

  &--github {
    color: #000;
  }

  &--instagram {
    color: #9a2970;
  }

  & .social-svg {
    width: 4.8rem;
    height: 4.8rem;

    & .social-group {

      &__icon {
        fill: $color-red;
        transition: all .2s;
      }

      &__inner-circle {
        fill: transparent;
        transition: all .2s;
      }

      &__outline {
        stroke: $color-red;
        transform-origin: 50% 50%;
        transition: all .2s;
      }
  
    }

    &:hover, &:active, &:focus {

      & .social-group {

        &__icon {
          fill: $color-white;
          transition: all .45s;
        }

        &__inner-circle {
          fill: currentColor;
          transition: all .45s;

          &--linkedin {
            fill: url(#simpleLinkedin) !important;
          }

          &--instagram {
            fill: url(#simpleInsta) !important;
          }
        }

        &__outline {
          stroke: currentColor;
          transform: scale(1.1);
          transition: all .45s;
        }
      } 
    }
  }
}

// Placed at bottom to appear at bottom of complied css file
@import 'utilities';
@import 'mobile';