* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;   
}
    
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/web-development.jpg");
    background-size: cover;
    overflow-x: hidden;
}

#body-home {
    background-image: linear-gradient(to bottom right, red, yellow);
}

#body-client {
    background-image: linear-gradient(to bottom right, blue, #e0fbfc);
}

.section-main {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section-main-home {
    justify-content:space-between
}
.intro-block {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    min-width: 30%;
    height: auto;
    padding: 2rem 0 2rem 0;
}

#intro-block-red {
    background-color: rgb(183, 11, 11);
}

#intro-block-blue {
    background-color: rgb(20, 20, 126);
}

#intro-block-black {
    background-color: black;
}

.keep-calm-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#keep-calm-crown-intro {
    width: 110px;
    margin: 0 0 1rem 0;
}

.keep-calm-intro-text {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    line-height: 1;
    letter-spacing: 0.10rem;
    color: white;
}

.main-section > div.intro-block-red > div.keep-calm-intro > div.keep-calm-intro-text > p:nth-child(3), 
.main-section > div.intro-block-blue > div.keep-calm-intro > div.keep-calm-intro-text > p:nth-child(3) {
    font-size: xx-large;
    margin: 1rem 0 1rem 0;
}

#intro-block-welcome-text {
    width: 90%;
    font-size: 19px;
    line-height: 1.5;
    color: white;
    text-align: center;
}

#intro-block-welcome-text p {
    padding-bottom: 0.5rem;
}

#lion-image {
    height: 360px;
    width: auto;
}

.circle-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 370px;
    background-image: url("../images/sun.png");
    background-size: cover;
    animation: rotateSun 50s linear infinite;
}

.circle-background:hover {
    scale: 1.05;
}

.explore-circle {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.circle-logo {
    position: absolute;
    width: 150px;
    height: 150px;
    background-image: linear-gradient(to bottom right, white, yellow, orange, red);
    border-radius: 50%;
}

.circle-logo-inner {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: transparent;
    background-image: url("../images/lion.png");
    background-size: cover;
    border-radius: 50%;
    animation: rotateLion 50s linear infinite;
}

.circle-text {
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotateText 35s linear infinite;
}

@keyframes rotateSun {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes rotateText {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes rotateLion {
    0% {
        transform: rotate(360deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

.circle-text span {
    position: absolute;
    left: 50%;
    font-size: 1.2em;
    transform-origin: 0 100px;
}

main {
    padding: 10px 3vw 5vh 3vw;
    border: solid 5px #253237;
    border-radius: 15px;
    background-color: #5c6b73;
    opacity: 1;
    max-height: 80vh;;
}

.button {
    padding: 1rem 1rem 1rem 1rem;
    border: solid 1px rgb(53, 53, 53);
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
    letter-spacing: 2px;
    color:#e0fbfc;
    background-color:#5c6b73;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
  }

.button:hover {
    scale: 1.01;    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

a {
    text-decoration: none;
}

h1 {
    color: #353535;
}

.content-block {
    height: auto;
    width: 70%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content-block-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.content-block-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
}

.content-container {
    background-color: #e0fbfc;
    border-radius: 15px;
    border: solid 10px #9db4c0;
    padding: 2rem 2rem 2rem 2rem;
}

#interest-content-container {
    background-image: url('../images/tool-set.jpg');
    background-size: auto;
}

.container-intro-flex {
    padding: 2.5% 2.5% 2.5% 2.5%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
}

.container-intro-flex p {
    color: #5c6b73;
    text-align: center;
    padding: 1rem 0 1rem 0;
}

#intro-flex-item-1 {
    grid-column: 1 / span 1;
    border-radius: 10px;
    background-color: #c2dfe3;
}

#intro-flex-item-2 {
    grid-column: 2 / span 1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9db4c0;
    padding: 5% 5% 2.5% 5%;
}

.palette-div {
    background-color: #fff;
    border-radius: 7.5px;
    margin: 0.5rem 0 0.5rem 0;
}

.palette-spread {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 90%;
    padding: 0.5rem 0 0.5rem 0;
}

#tool-set {
    width: 50%;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

#interest-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#container-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-container {
    padding: 1rem 1rem 1rem 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    min-height: 250px;
    padding: 10px 0 15px 0;
    border-radius: 5px;
    border: none;
    background-color: #ffe4cf;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
    cursor: pointer;
}

.card:hover {
    scale: 1.01;    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

}

.client-image,
.interest-image {
    max-width: 90%;
}

#evil-button {
    position: absolute;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    width: 200px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);}

.nav-modal-image {
    max-width: 90%;
}
