* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;   
}
    
body {
    font-family: "Lato", sans-serif;
    background-size: cover;
    overflow-x: hidden;
}

#body-home,
#body-about {
    background-color: rgb(183, 11, 11);
}

#body-client {
    background-color: rgb(20, 20, 126);
}

#body-workshop {
    background-color: rgb(72, 71, 71);
}

.about-content {
    position: absolute;
    bottom: -180px;
    left: 0;
}

.intro-block {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
    min-width: 30%;
    height: auto;
}

.intro-block-red {
    background-color: rgb(183, 11, 11);
}

#intro-block-blue {
    background-color: rgb(20, 20, 126);
}

#intro-block-black {
    background-color: rgb(72, 71, 71);
}

#intro-block-sun {
    position: relative;
    background-image: linear-gradient(to bottom left, red, orange, yellow, white);
}

.keep-calm-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#keep-calm-crown-intro {
    width: 110px;
    margin: 0 0 1rem 0;
}

.keep-calm-intro-text {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    line-height: 1;
    letter-spacing: 0.10rem;
    color: white;
}

.keep-calm-intro-text > p:nth-child(3) {
    font-size: 35px;
    padding: 0.5rem 0;
}

#intro-block-welcome-text {
    width: 90%;
    font-size: 19px;
    line-height: 1.5;
    color: white;
    text-align: center;
}

#intro-block-welcome-text p {
    padding-bottom: 0.5rem;
}

#lion-image {
    height: 360px;
    width: auto;
}

.circle-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 370px;
    background-image: url("../images/sun.png");
    background-size: cover;
    animation: rotateSun 50s linear infinite;
}

.circle-background:hover {
    scale: 1.05;
}

.explore-circle {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.circle-logo {
    position: absolute;
    width: 150px;
    height: 150px;
    background-image: linear-gradient(to bottom right, white, yellow, orange, red);
    border-radius: 50%;
}

.circle-logo-inner {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: transparent;
    background-image: url("../images/lion.png");
    background-size: cover;
    border-radius: 50%;
    animation: rotateLion 50s linear infinite;
}

.circle-text {
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotateText 35s linear infinite;
}

@keyframes rotateSun {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes rotateText {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes rotateLion {
    0% {
        transform: rotate(360deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

.circle-text span {
    position: absolute;
    left: 50%;
    font-size: 1.2em;
    transform-origin: 0 100px;
}

main {
    padding: 10px 3vw 5vh 3vw;
    border: solid 5px #253237;
    border-radius: 15px;
    background-color: #5c6b73;
    opacity: 1;
    max-height: 80vh;;
}

.button {
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 5px;
    font-size: medium;
    font-weight: 700;
    letter-spacing: 1px;
    color:#e0fbfc;
    background-color:#5c6b73;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
  }

.button:hover {
    scale: 1.02;    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.button:hover p {
    scale: 1.05;    
}

.nav-button {
    width: 9rem;
    background-color: white;
}
.nav-button-home {
    color: rgb(183, 11, 11);
    border: solid 1px rgb(183, 11, 11);
}

a {
    text-decoration: none;
}

h1 {
    color: #353535;
}

.card-container {
    padding: 1rem 1rem 1rem 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    min-height: 300px;
    padding: 10px 0 15px 0;
    border-radius: 5px;
    border: none;
    background-color: #ffe4cf;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
    cursor: pointer;
}

.card:hover {
    scale: 1.01;    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

}



.container-intro-flex {
    padding: 2.5% 2.5% 2.5% 2.5%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
}

.container-intro-flex p {
    color: #5c6b73;
    text-align: center;
    padding: 1rem 0 1rem 0;
}

#intro-flex-item-1 {
    grid-column: 1 / span 1;
    border-radius: 10px;
    background-color: #c2dfe3;
}

.nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.interest-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#container-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.client-image,
.interest-image {
    max-width: 90%;
}

.nav-modal-image {
    max-width: 90%;
}

/* ---------- Client Page ------------ */
.client-section {
    background-image: linear-gradient(to bottom right, rgb(19, 19, 197), lightblue, white);
}

.client-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 3rem 5rem 3rem;
}

.client-container h1 {
    font-size: 40px;
    padding-bottom: 3rem;
}

.client-container-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.client-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.client-card {
    height: 100%;
}

.client-button {
    background-color: rgb(20, 20, 126);
    border: solid 1px rgb(20, 20, 126);
}

.nav-button-client {
    color:rgb(20, 20, 126);
    border: solid 1px rgb(20, 20, 126);
}


/* ---------- Interest Page ------------ */
.interest-section {
    background-image: linear-gradient(to bottom right, rgb(19, 19, 197), lightblue, white);
}

.interest-container {
    background-color: #e0fbfc;
    border-radius: 15px;
    border: solid 10px #9db4c0;
    padding: 2rem 2rem 2rem 2rem;
}

.palette-container {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9db4c0;
}

.palette-container-test {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.palette-block {
    background-color: #fff;
    border-radius: 7.5px;
    margin: 0.3rem 0;
}

.palette-spread {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
    padding: 0.25rem;
}

.nav-button-interest {
    color: black;
    border: solid 1px black;
}

/* ---------- About Page ------------ */

.story-section {
    height: 450px;
    background-image: linear-gradient(to bottom right, white, yellow, orange, red);
}

/* ----------- Side Nav Bar ----------- */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #8B0000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: rgb(251, 107, 107);
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 1rem 0 1rem 0;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }